@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

.menu_bar {
    background-color: palevioletred;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo {
    width: 300px;
}

.menu_bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.menu_bar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.menu_bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: red;
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu ul {
    display: block;
    margin: 5px;
}

.dropdown_menu ul li {
    width: 100px;
    padding: 10px;
}

.dropdown_menu1 {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu1 ul {
    display: block;
}

.dropdown_menu1 ul li {
    width: 120px;
    padding: 0;
}

/* ------------------------------------------------------------------- */

main {
    margin-top: 8px;
}

main {
    height: 100%;
}

main {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    padding: 0;
}

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.swiper-slide .home-img {
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(40%);
    opacity: 0.6;
    z-index: -1;
}

.swiper-content {
    position: absolute;
}

.swiper-content h2 {
    font-size: 50px;
    padding: 5px;
    color: #E62727;
}

.swiper-content p {
    font-size: 30px;
    padding: 10px;
    text-transform: capitalize;
    font-weight: 100;
}

.cta-button {
    background-color: red;
    width: max-content;
    padding: 10px 25px;
    border-radius: 15%;
    color: white;
    font-size: large;
    cursor: pointer;
}

.cta-button:hover {
    box-shadow: 5px 5px 20px rgb(186, 38, 88);
    transform:scale(1.05);
}

.swiper-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.swiper-icons p {
    font-size: larger;
    padding: 20px;
}

@media screen and (max-width:1241px) {
    .menu_bar ul {
        display: none;
    }

    .swiper-content h2 {
        font-size: 36px;
    }

    .swiper-content p {
        font-size: 24px;
    }

    .swiper-icons p {
        font-size: large;
    }
}

@media screen and (max-width:850px) {
    .swiper-content h2 {
        font-size: 32px;
    }

    .swiper-content p {
        font-size: 20px;
        padding: 10px;
    }

    .swiper-icons p {
        font-size: medium;
    }

    .swiper-icons .cta-button {
        font-size: medium;
        padding: 10px 15px;
    }

    .home-img {
        object-fit: contain;
    }
}

@media screen and (max-width:480px) {
    .swiper-content h2 {
        font-size: 30px;
    }

    .swiper-content p {
        font-size: 18px;
        padding: 10px;
    }

    .swiper-icons p {
        font-size: medium;
    }

    .logo {
        width: 230px;
    }
}

/* India Top News */

body {
    background: var(--light-bg);
    font-family: "Poppins", sans-serif;
}

.news-section {
    padding: 40px 5%;
}

.news-section h2 {
    font-size: 1.8rem;
    color: var(--darkviolet);
    margin-bottom: 20px;
}

.news-scroll {
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding-bottom: 10px;
    flex-wrap: wrap;
}

.head-content {
    display: flex;
}

.border1 {
    height: 20px;
    width: 20px;
    border-left: solid red 5px;
    border-top: solid red 5px;
}

.border2 {
    height: 20px;
    width: 20px;
    border-left: solid black 5px;
    border-top: solid black 5px;
}

@media screen and (max-width:410px) {
    .head-content h2 {
        font-size: 20px;
        padding: 2px;
    }
}

.news-scroll::-webkit-scrollbar {
    height: 8px;
}

.news-scroll::-webkit-scrollbar-thumb {
    background: var(--paleviolet);
    border-radius: 10px;
}

.news-card {
    background: white;
    flex: 350px;
    flex-wrap: wrap;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(107, 33, 168, 0.15);
    transition: transform 0.3s ease;
}

.news-card:hover {
    transform: translateY(-5px);
}

.news-card img:hover {
    transform: translatex(5px);
}

.news-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.news-text {
    padding: 15px;
}

.news-text h3 {
    color: var(--darkviolet);
    font-size: 1rem;
    margin-bottom: 6px;
    font-weight: 600;
}

.news-text p {
    font-size: 0.85rem;
    color: #555;
}

@media screen and (max-width:800px) {
    .news-card img {
        height: 300px;
    }

    .news-card {
        height: 400px;
    }
}

@media screen and (max-width:550px) {
    .news-card {
        height: 420px;
    }
}

/* news-section = 2 -----------------------------------------  */

.news-section2 {
    padding: 40px 5%;
    gap: 20px;
    display: flex;
}

.image {
    position: relative;
}
.image img {
    border-radius: 25px;
}

.image img:hover {
    transition: 3ms;
    transform: scaleX(1.02);
}

.cta-button1 {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    width: max-content;
    padding: 10px 25px;
    border-radius: 15%;
    color: white;
    font-size: large;
    margin: 15px;
    cursor: pointer;
}

.cta-button1:hover {
    box-shadow: 5px 5px 20px rgb(186, 38, 88);
    transform: scale(1.05);
}

.container1 .head-content {
    padding: 10px;
}

.container2 {
    text-align: center;
    padding: 0px 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.header a {
    text-decoration: none;
    color: palevioletred;
    font-size: x-large;
    font-weight: 800;
}

.container1 ,
.container2 , 
.container3 {
    flex: 350px;
    background-color: white;
    box-shadow: 0 18px 12px rgba(15, 10, 20, 0.15);
    transition: transform 0.3s ease;
    padding: 20px;
    border-radius: 16px;
}

.news {
    width: 100%;
    height: 180px;
    display: flex;
    padding: 20px 10px;
}

.imgs {
    width: 250px;
    height: 150px;
}

.imgs img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.imgs img:hover {
    transition: 3s ease-out;
    transform: translateX(3);
}

.img-content {
    padding: 10px;
}

.link-anchor {
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    color: white;
    gap: 20px;
    padding: 10px;
    font-weight: 700;
}

.box {
    flex: 200px;
    padding: 15px;
    text-align: center;
    font-size: larger;
    border-radius: 12px;
}

.boxes2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
