@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
    width: 100vw;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header ul li {
    list-style: none;
}

.menu_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 300px;
}

.menu_bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.menu_bar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.menu_bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: red;
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu ul {
    display: block;
    margin: 5px;
}

.dropdown_menu ul li {
    width: 100px;
    padding: 10px;
}

.dropdown_menu1 {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu1 ul {
    display: block;
}

.dropdown_menu1 ul li {
    width: 120px;
    padding: 0;
}

/* -----------HAMBURGER MENU----------------- */


.hamburger {
    display: none;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lines {
    width: 30px;
    height: 3px;
    background-color: white;
    margin-top: 8px;
    position: absolute;
}

.hamburger {
    width: 30px;
    height: 25px;
}

.lines:nth-child(1) {
    transform: translateY(-9px);
    transition: 1s;
}

.lines:nth-child(2) {
    transition: 1s;
}

.lines:nth-child(3) {
    transform: translateY(9px);
    transition: 1s;
}

.hamburger.active .lines:nth-child(1) {
    transform: rotate(45deg);
    transition: 1s;
}

.hamburger.active .lines:nth-child(2) {
    transform: translatex(-10px);
    background-color: transparent;
}

.hamburger.active .lines:nth-child(3) {
    transform: rotate(-45deg);
    transition: 1s;
}

.hamburger.active {
    transform: rotate(360deg);
    transition: 2s;
}
header ul li {
  display: none;
}

/* ------------- Side- Bar -------------- */


/* Hamburger */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .lines {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: palevioletred;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    margin-top: 10vh;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 30px;
    position: relative;
}

.sidebar ul li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    color: #f1f1f1;
}

.sidebar ul li .submenu {
    list-style: none;
    padding-left: 15px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sidebar ul li .submenu li {
    padding: 10px 0;
    font-size: 14px;
}

.sidebar ul li.active .submenu {
    max-height: 500px;
}

/* Close button */
.sidebar .close-btn {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
    color: white;
}

/* Arrow rotation */
.dropdown-arrow {
    font-size: 12px;
    transition: transform 0.3s ease;
}

.sidebar ul li.active > a .dropdown-arrow {
    transform: rotate(180deg);
}

/* Responsive */
@media screen and (max-width: 768px) {
    nav.menu_bar {
        display: none;
    }
    .hamburger {
        display: flex;
    }
}
