@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    overflow-x: hidden;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: palevioletred;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header ul li {
    list-style: none;
}

.menu_bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 300px;
}

.menu_bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 20px;
}

.menu_bar ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.menu_bar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: all 0.3s;
}

.menu_bar ul li a:hover {
    color: red;
}

.dropdown_menu {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu ul {
    display: block;
    margin: 5px;
}

.dropdown_menu ul li {
    width: 100px;
    padding: 10px;
}

.dropdown_menu1 {
    display: none;
}

.menu_bar ul li:hover .dropdown_menu1 {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: palevioletred;
}

.dropdown_menu1 ul {
    display: block;
}

.dropdown_menu1 ul li {
    width: 120px;
    padding: 0;
}

.hamburger {
    display: none;
}

/* ------------------------------------- */

.login-main {
    text-align: center;
    
}

.login h1,
h2 {
    text-align: center;
    padding: 10px;
}
.login {
    max-width: 600px;
    margin: 50px auto;
    background: palevioletred;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.login input,
.login textarea {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: none;
    border-radius: 6px;
    background:white;
}

.login button {
    width: 120px;
    background: white;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    text-align: center;
}

.login button:hover {
    background: var(--secondary);
}

/* ----------------------------------------- */

.footer-parent {
    display: flex;
    flex-wrap: wrap;
    background-color: palevioletred;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    margin-top: 30px;
}

.set1,
.set2,
.set3,
.set4 {
    flex: 300px;
    padding: 0px 20px 0px 20px;
    text-align: center;
}

.set1 {
    padding-top: 30px;
}

.set1 img {
    width: 300px;
    height: 70px;
    object-fit: cover;
    padding: 0px;
}

.footer-para {
    font-size: larger;
}

.set1 a {
    text-decoration: none;
}

.set1 a i {
    font-size: x-large;
    color: white;
    padding: 20px;
}

.set1 a i:hover {
    color: red;
}

.set2 {
    padding-top: 60px;
}

.footer-li {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.footer-li a {
    display: inline-block;
    font-size: larger;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.footer-li>a:hover {
    color: red;
}

.footer-header {
    color: rgb(157, 37, 77);
}

.set3 {
    padding-top: 60px;
}

.set3 .footer-para {
    padding: 10px;
    font-weight: 400;
}

.set4 {
    padding-top: 60px;
}

.set4>.footer-para {
    padding: 10px;
    font-weight: 400;
    line-height: 40px;
}

@media screen and (max-width:769px) {
    .footer-parent {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

@media screen and (max-width:430px) {
    .footer-para {
        font-size: medium;
    }

    .footer-li a {
        font-size: medium;
    }

    .footer-header {
        font-size: larger;
    }
}